
:root {
    --text-color: #0D0D0D;
    --primary-color: #f2f2f2;
    --secondary-color: #595959;
    --accent-color-1: #A6A6A6;
    --accent-color-2: #262626;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-bold: 700;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: var(--font-bold);
}

h2 {
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: var(--font-bold);
}

h3 {
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: var(--font-bold);
}

th {
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: var(--font-bold);
}

ul {
    /* resets a 40px padding added by chrome */
    padding-inline-start: 0%;
}

li {
    list-style-type: none;
}

a {
    position: relative;
    font-family: var(--font-secondary);
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s color;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--secondary-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a:hover::before {
    visibility: visible;
    width: 100%;
}

a:hover, a:focus {
    color: var(--secondary-color);
}

a:active {
    opacity: 0.5;
}

button,
.button {
    border: none;
    font-family: inherit;
    background-color: var(--accent-color-2);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.2s opacity;
  }

button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}

/* navigation section*/

.page-header {
    display: flex;
    width: 95%;
    align-items: center;
    border-bottom: 2px solid var(--accent-color-1);
    margin: auto;
    margin-bottom: 30px;
}

.page-header img {
    max-width: 200px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item {
    color: var(--text-color)
}

.navigation-list__item--active {
    font-weight: var(--font-bold);
}


/* profile section */


.profile {
    max-width: 700px;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.profile__text {
    display: inline-block;
    vertical-align: middle;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}


/* about section */


.about {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.about_text {
    vertical-align: middle;
}


/* about image */


@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


/* work section */

.work {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.grid__item {
    display: inline-block;
    width: 33%;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid__item {
        background-color: var(--accent-color-1);
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 5px 10px;
    }
}

/* contact section */

.contact {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

/* footer section */


.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-footer__link:hover::before {
    visibility: hidden;
}


/* media queries */


@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    h1 {
        font-size: 22px;
    }

    .profile {
        width: 395px;
        max-width: 100%;
        display: block;
        text-align: center;
    }

    .profile__portrait {
        float: none;
        margin: auto;
    }

    .page-header,
    .page-header__item,
    .page-header__item:last-child {
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .about > svg {
        max-width: 90%;
    }
}
