:root {
  --text-color: #0d0d0d;
  --primary-color: #f2f2f2;
  --secondary-color: #595959;
  --accent-color-1: #a6a6a6;
  --accent-color-2: #262626;
  --font-primary: "Roboto", sans-serif;
  --font-bold: 700;
}

.profile__portrait {
  width: 40%;
}